{% extends "base.html" %}
{% load staticfiles %}
{% block container %}
<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
  <div class="container">
    <div class="row">
      <h3>Members.</h3>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->

  <!-- *****************************************************************************************************************
   lab member photo
   ***************************************************************************************************************** -->
<div class="container mtb">
  {% for elem in members_photo_li %}
  <div class="row row-centered">
    <center>
      <h2>{{elem.title}}</h2>
    </center>
  </div>
  <div class="row row-centered" align="center">
    <img src="{{elem.img_path}}" width=100%>
  </div>
  {% endfor %}

</div><! --/container -->
     
{% endblock %}
{% block script%}
    <script>
        $(".navbar-nav li").eq(1).addClass("active")
    </script>
{% endblock %}
