{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">
    <meta name="google-site-verification" content="unDonm0aPBYy5jV5xxSxYU77c27luM8vDyGR71JJYKQ" />
    <title>Computer Architecture and Systems Lab @ KAIST</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body> 
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="index.html">CASys@KAIST</a>-->
          <a class="navbar-left" href="index.html"><img src="{% static 'img/CASYS_logo_2022.png' %}"style="max-height:50px"></a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="index.html">HOME</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">MEMBERS<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="members.html">MEMBERS</a></li>
                    <li><a href="album.html">ALBUM</a></li>
                </ul>
            </li>
            <li><a href="research.html">RESEARCH</a></li>
            <li><a href="publications.html">PUBLICATIONS</a></li>
            <li><a href="projects.html">PROJECTS</a></li>
            <li><a href="software.html">SOFTWARE</a></li>
            <li><a href="contact.html">CONTACT</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {% block container %} {% endblock %}

    <!-- *****************************************************************************************************************
     FOOTER
     ***************************************************************************************************************** -->
     <div id="footerwrap">
       <div class="container">
         <div class="row">
           <div class="col-lg-4">
               <h4>About</h4>
               <div class="hline-w"></div>
               <p>The Computer Architecture and Systems Laboratory, School of Computing, KAIST, was established in 1974, the same year that School of Computing itself was established.</p>
           </div>
           <div class="col-lg-4">
               <h4>Social Links</h4>
               <div class="hline-w"></div>
               <p>
                   <a href="#"><i class="fa fa-dribbble"></i></a>
                   <a href="#"><i class="fa fa-facebook"></i></a>
                   <a href="#"><i class="fa fa-twitter"></i></a>
                   <a href="#"><i class="fa fa-instagram"></i></a>
                   <a href="#"><i class="fa fa-tumblr"></i></a>
               </p>
           </div>
           <div class="col-lg-4">
               <h4>Address</h4>
               <div class="hline-w"></div>
               <p>
                  Computer Architecture and Systems Laboratory<br/> 
                  School of Computing, KAIST<br/>
                   291 Daehak-ro (373-1 Guseong-dong), Yuseong-gu<br/>
                   Daejeon 34141, Republic of Korea<br/>
               </p>
           </div>
         </div><! --/row -->
       </div><! --/container -->
     </div><! --/footerwrap -->
     
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/retina-1.1.0.js' %}"></script>
    <script src="{% static 'js/jquery.hoverdir.js' %}"></script>
    <script src="{% static 'js/jquery.hoverex.min.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    {% block script %} {% endblock %}
  </body>
</html>
