{% extends "base.html" %}
{% load staticfiles %}
{% block container %}
<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
  <div class="container">
    <div class="row">
      <h3>Contact.</h3>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->

<!-- *****************************************************************************************************************
 CONTACT FORMS
 ***************************************************************************************************************** -->

<div class="container mtb">
  <div class="row">
    <div class="col-lg-4">
      <h4>Address</h4>
      <div class="hline"></div>
        <p>
           Computer Architecture and Systems Laboratory<br/> 
           School of Computing, KAIST<br/>
           291 Daehak-ro (373-1 Guseong-dong), Yuseong-gu<br/>
           Daejeon 34141, Republic of Korea<br/>
        </p>
        <p>
           Email: info@casys.kaist.ac.kr<br/>
           Tel: +82-42-350-7719<br/>
           Fax: +82-42-350-7719<br/>
        </p>
    </div>


  </div><! --/row -->
</div><! --/container -->
<div id="map-canvas"></div>
{% endblock %}
