{% extends "base.html" %}
{% load staticfiles %}
{% load contains %}
{% block container %}
<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
  <div class="container">
    <div class="row">
      <h3>Projects.</h3>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->

<div class="container mtb">
  <div class="row">
    <div class=col-lg-12>
      <h2>Ongoing Projects</h2>
        <ul>
          {% for elem in ongoing_projects%}
          <li>{{elem.project_period}}, {{elem.project_name}}, {{elem.project_affiliation}}</li>
          {% endfor %}
        </ul>
      <h2>Past Projects</h2>
        <ul>
          {% for elem in past_projects%}
          {% if elem.project_period|contains:"~"%}
            <li>{{elem.project_period}}, {{elem.project_name}}, {{elem.project_affiliation}}</li>
          {% else %}
            <li>{{elem.project_name}}, {{elem.project_affiliation}}</li>
          {% endif %}
          {% endfor %}
        </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block script%}
<script>
  $(".navbar-nav li").eq(6).addClass("active")
</script>
{% endblock %}
